<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Quản lý Hóa đơn và Giải ngân</h1>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>